/* body {
  font-family: "lato", sans-serif;
}

.top_menu {
  
} */

/* ---------------------------- */
body {
    font-family: 'Lato', sans-serif;
}
.container-fluid {
    background-color: rgb(255, 255, 255);
}

.top_menu {
    background-color: rgba(0, 0, 0, 0.03);
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
    border-bottom-style: solid;
    border-width: 0.3px;
    height: 7em;
}
.top_menu h1 {
    display: inline-block;
    color: #000000;
    font-size: 4em;
    margin-top: -0.5em;
    padding: 2px;
}
.top_menu button {
    float: right;
}
.top_menu a:hover {
    text-decoration: none;
    color: #000000;
}

#wheel-list a {
    display: block;
    padding-left: 2em;
    padding-right: 2em;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: white;
    border-width: 3px;
    transition: 0.6s;
    border-radius: 50%;
}
#wheel-list a:hover {
    border-color: rgba(0, 0, 0, 0.57);
    /* background-color: rgb(0, 0, 0); */
}
#wheel h1 {
    padding: 15px;
}

.sidenav {
    position: fixed;
    padding: 10px;
    height: 45em;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0.021);
    text-align: center;
    overflow: auto;
}
.sidenav button {
    padding: 15px;
    background-color: rgba(0, 0, 255, 0.021);
}
.sidenav button:hover {
    background-color: rgba(0, 0, 255, 0.06);
}

.de {
    margin-left: 2em;
    margin-top: 1em;
    text-align: center;
    font-size: 0.7em;

    padding: 5px;

    height: fit-content;
    background-color: rgba(0, 0, 255, 0.02);
}
.de h3 {
    font-size: 1.5em;
    text-align: left;
}

.de a {
    font-size: 2em;
    text-align: center;
    border-style: solid;
    padding: 5px;
    margin-left: -1em;
    transition: 0.5s;
}
.de a:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.09);
    color: #000000;
}

#js-data {
    text-align: center;
    margin-top: 2em;
}
#js-data img {
    padding: 15px;
    height: 28em;
    width: 28em;
}

#ordbtn {
    font-size: 2em;
    border-style: solid;
    transition: 0.5s;
}
#ordbtn:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.09);
    color: #000000;
}

/* --------------------------------------------------------------------------------- */
/* body {
  font-family: "Lato", sans-serif;
}

.title {
  text-align: center;
  padding: 25px;
}
.title h1 {
  font-size: 5em;
}

.sidenav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  padding-top: 60px;
  padding-right: 60px;
}

.sidenav a {
  padding: 12px 15px 20px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.4s;
}

.sidenav a:hover {
  color: #f1f1f1;
  text-decoration: none;
}

.sidenav2 {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  padding-top: 60px;
  padding-right: 60px;
}

.sidenav2 a {
  padding: 12px 15px 20px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.4s;
}
.sidenav2 p {
  font-family: "Covered By Your Grace", cursive;
  padding: 12px 15px 20px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #bdbdbd;
  display: block;
  margin-top: 8em;
  transition: 0.4s;
}

.sidenav2 a:hover,
p:hover {
  color: #ffffff;
  text-decoration: none;
} */

/* ------------------------------------------------------- JS DATA ---------------------------------------------------------------- */
/* #js-data {
  text-align: center;
  padding: 25px;
}

#js-data img {
  width: 25em;
  height: 25em;
}

#js-data h2 {
  padding: 25px;
}

#js-data button {
  margin-top: 1em;
  display: inline-block;
} */
.tpbtns div {
    display: inline-block;
    padding: 5px;
}
