body {
  font-family: "Lato", sans-serif;
  background: url(http://my.carid.com/sites/default/files/styles/2560_1440/public/11409810545_f489f8ec22_h.jpg)
    center center fixed;
  background-size: cover;
}

.blank {
  font-family: "Sedgwick Ave Display", cursive;
  text-align: center;
}
.blank p {
  padding: 8px 8px 8px 8px;
  font-size: 4em;
  color: black;
  /* background-color: rgba(0, 0, 0, 0.548); */
}

.container {
  color: white;
  background-color: rgba(0, 0, 0, 0.548);
  text-align: center;
  padding: 15px 15px 15px 15px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title h1 {
  font-size: 5.5em;
}

#icon {
  font-size: 1.5em;
}

.form_area {
  padding: 8px 8px 8px 8px;
}

.lgnbtns {
  padding: 8px 8px 8px 8px;
}
.su_form_area {
  text-align: left;
  margin-left: 24em;
}
.su_form_area h1 {
  font-size: 5em;
}

.subtns {
  padding: 8px 8px 8px 8px;
  margin-left: 7em;
}

.error {
  border-style: dashed;
  border-width: 2px;
  border-color: red;
  background-color: red;
}
.error2 {
  border-style: dashed;
  border-width: 2px;
  border-color: rgb(0, 4, 255);
  background-color: rgb(0, 4, 255);
}
